<?xml version="1.0" encoding="UTF-8"?>
<project name="module_datahubdataidpropertymapper" default="compile.module.datahubdataidpropertymapper">
  <dirname property="module.datahubdataidpropertymapper.basedir" file="${ant.file.module_datahubdataidpropertymapper}"/>
  
  <property name="module.jdk.home.datahubdataidpropertymapper" value="${jdk.home.1.7}"/>
  <property name="module.jdk.bin.datahubdataidpropertymapper" value="${jdk.bin.1.7}"/>
  <property name="module.jdk.classpath.datahubdataidpropertymapper" value="jdk.classpath.1.7"/>
  
  <property name="compiler.args.datahubdataidpropertymapper" value="-encoding UTF-8 -source 1.7 -target 1.7 ${compiler.args}"/>
  
  <property name="datahubdataidpropertymapper.output.dir" value="${module.datahubdataidpropertymapper.basedir}/target/classes"/>
  <property name="datahubdataidpropertymapper.testoutput.dir" value="${module.datahubdataidpropertymapper.basedir}/target/test-classes"/>
  
  <path id="datahubdataidpropertymapper.module.bootclasspath">
    <!-- Paths to be included in compilation bootclasspath -->
  </path>
  
  <path id="datahubdataidpropertymapper.module.production.classpath">
    <path refid="${module.jdk.classpath.datahubdataidpropertymapper}"/>
    <path refid="library.maven:_com.github.jsonld-java:jsonld-java:0.5.1.classpath"/>
    <path refid="library.maven:_com.fasterxml.jackson.core:jackson-core:2.3.3.classpath"/>
    <path refid="library.maven:_com.fasterxml.jackson.core:jackson-databind:2.3.3.classpath"/>
    <path refid="library.maven:_org.slf4j:slf4j-api:1.7.7.classpath"/>
    <path refid="library.maven:_org.apache.httpcomponents:httpclient-cache:4.2.5.classpath"/>
    <path refid="library.maven:_org.apache.httpcomponents:httpclient:4.2.5.classpath"/>
    <path refid="library.maven:_org.apache.httpcomponents:httpcore:4.2.4.classpath"/>
    <path refid="library.maven:_commons-codec:commons-codec:1.6.classpath"/>
    <path refid="library.maven:_org.slf4j:jcl-over-slf4j:1.7.7.classpath"/>
    <pathelement location="${datahubrestclient.output.dir}"/>
    <path refid="library.maven:_com.fasterxml.jackson.core:jackson-annotations:2.5.0.classpath"/>
    <path refid="library.maven:_org.openrdf.sesame:sesame-rio-rdfxml:2.8.0.classpath"/>
    <path refid="library.maven:_org.openrdf.sesame:sesame-model:2.8.0.classpath"/>
    <path refid="library.maven:_org.openrdf.sesame:sesame-rio-api:2.8.0.classpath"/>
    <path refid="library.maven:_org.openrdf.sesame:sesame-util:2.8.0.classpath"/>
    <path refid="library.maven:_commons-io:commons-io:2.4.classpath"/>
    <path refid="library.maven:_org.openrdf.sesame:sesame-rio-turtle:2.8.0.classpath"/>
    <path refid="library.maven:_commons-cli:commons-cli:1.2.classpath"/>
    <path refid="library.maven:_org.aksw.rdfunit:rdfunit-validate:0.7.1.classpath"/>
    <path refid="library.maven:_org.aksw.rdfunit:rdfunit-core:0.7.1.classpath"/>
    <path refid="library.maven:_org.aksw.jena-sparql-api:jena-sparql-api-cache-h2:2.11.2-56.classpath"/>
    <path refid="library.maven:_com.h2database:h2:1.3.158.classpath"/>
    <path refid="library.maven:_org.aksw.jena-sparql-api:jena-sparql-api-resources:2.11.2-56.classpath"/>
    <path refid="library.maven:_org.aksw.rdfunit:rdfunit-resources:0.7.1.classpath"/>
    <path refid="library.maven:_org.aksw.jena-sparql-api:jena-sparql-api-core:2.11.2-56.classpath"/>
    <path refid="library.maven:_org.aksw.jena-sparql-api:jena-sparql-api-utils:2.11.2-56.classpath"/>
    <path refid="library.maven:_org.apache.jena:jena-sdb:1.4.1.classpath"/>
    <path refid="library.maven:_com.google.code.gson:gson:2.2.4.classpath"/>
    <path refid="library.maven:_org.apache.jena:jena-iri:1.0.1.classpath"/>
    <path refid="library.maven:_org.aksw.commons:collections:0.5.classpath"/>
    <path refid="library.maven:_net.sourceforge.collections:collections-generic:4.01.classpath"/>
    <path refid="library.maven:_org.aksw.commons:util:0.5.classpath"/>
    <path refid="library.maven:_org.slf4j:slf4j-ext:1.6.0.classpath"/>
    <path refid="library.maven:_ch.qos.cal10n:cal10n-api:0.7.2.classpath"/>
    <path refid="library.maven:_commons-validator:commons-validator:1.3.1.classpath"/>
    <path refid="library.maven:_commons-beanutils:commons-beanutils:1.7.0.classpath"/>
    <path refid="library.maven:_commons-digester:commons-digester:1.6.classpath"/>
    <path refid="library.maven:_commons-collections:commons-collections:2.1.classpath"/>
    <path refid="library.maven:_com.thoughtworks.xstream:xstream:1.3.1.classpath"/>
    <path refid="library.maven:_xpp3:xpp3_min:1.1.4c.classpath"/>
    <path refid="library.maven:_com.google.guava:guava:17.0.classpath"/>
    <path refid="library.maven:_org.apache.commons:commons-compress:1.2.classpath"/>
    <path refid="library.maven:_log4j:log4j:1.2.14.classpath"/>
    <path refid="library.maven:_org.apache.jena:jena-arq:2.11.2.classpath"/>
    <path refid="library.maven:_org.apache.jena:jena-core:2.11.2.classpath"/>
    <path refid="library.maven:_xerces:xercesimpl:2.11.0.classpath"/>
    <path refid="library.maven:_xml-apis:xml-apis:1.4.01.classpath"/>
    <path refid="library.maven:_org.slf4j:slf4j-log4j12:1.7.7.classpath"/>
    <path refid="library.maven:_org.apache.commons:commons-collections4:4.0.classpath"/>
    <path refid="library.maven:_javax.servlet:javax.servlet-api:3.1.0.classpath"/>
    <path refid="library.maven:_com.sun.jersey:jersey-grizzly2:1.8.classpath"/>
    <path refid="library.maven:_org.glassfish.grizzly:grizzly-http:2.1.1.classpath"/>
    <path refid="library.maven:_org.glassfish.grizzly:grizzly-framework:2.1.1.classpath"/>
    <path refid="library.maven:_org.glassfish.gmbal:gmbal-api-only:3.0.0-b023.classpath"/>
    <path refid="library.maven:_org.glassfish.external:management-api:3.0.0-b012.classpath"/>
    <path refid="library.maven:_org.glassfish.grizzly:grizzly-http-server:2.1.1.classpath"/>
    <path refid="library.maven:_org.glassfish.grizzly:grizzly-rcm:2.1.1.classpath"/>
    <path refid="library.maven:_org.glassfish.grizzly:grizzly-http-servlet:2.1.1.classpath"/>
    <path refid="library.maven:_org.glassfish.grizzly:grizzly-framework:tests:2.1.1.classpath"/>
    <path refid="library.maven:_org.glassfish:javax.servlet:3.1.classpath"/>
    <path refid="library.maven:_com.sun.jersey:jersey-server:1.8.classpath"/>
    <path refid="library.maven:_asm:asm:3.1.classpath"/>
    <path refid="library.maven:_com.sun.jersey:jersey-core:1.8.classpath"/>
    <path refid="library.maven:_org.jboss.resteasy:resteasy-multipart-provider:3.0.8.final.classpath"/>
    <path refid="library.maven:_org.jboss.resteasy:resteasy-jaxrs:3.0.8.final.classpath"/>
    <path refid="library.maven:_org.jboss.resteasy:jaxrs-api:3.0.8.final.classpath"/>
    <path refid="library.maven:_org.jboss.spec.javax.annotation:jboss-annotations-api_1.1_spec:1.0.1.final.classpath"/>
    <path refid="library.maven:_javax.activation:activation:1.1.classpath"/>
    <path refid="library.maven:_net.jcip:jcip-annotations:1.0.classpath"/>
    <path refid="library.maven:_org.jboss.resteasy:resteasy-client:3.0.8.final.classpath"/>
    <path refid="library.maven:_org.jboss.resteasy:resteasy-jaxb-provider:3.0.8.final.classpath"/>
    <path refid="library.maven:_com.sun.xml.bind:jaxb-impl:2.2.7.classpath"/>
    <path refid="library.maven:_com.sun.xml.bind:jaxb-core:2.2.7.classpath"/>
    <path refid="library.maven:_javax.xml.bind:jaxb-api:2.2.7.classpath"/>
    <path refid="library.maven:_com.sun.istack:istack-commons-runtime:2.16.classpath"/>
    <path refid="library.maven:_com.sun.xml.fastinfoset:fastinfoset:1.2.12.classpath"/>
    <path refid="library.maven:_javax.xml.bind:jsr173_api:1.0.classpath"/>
    <path refid="library.maven:_javax.mail:mail:1.5.0-b01.classpath"/>
    <path refid="library.maven:_org.apache.james:apache-mime4j:0.6.classpath"/>
    <path refid="library.maven:_commons-logging:commons-logging:1.1.1.classpath"/>
  </path>
  
  <path id="datahubdataidpropertymapper.runtime.production.module.classpath">
    <pathelement location="${datahubdataidpropertymapper.output.dir}"/>
    <path refid="library.maven:_com.github.jsonld-java:jsonld-java:0.5.1.classpath"/>
    <path refid="library.maven:_com.fasterxml.jackson.core:jackson-core:2.3.3.classpath"/>
    <path refid="library.maven:_com.fasterxml.jackson.core:jackson-databind:2.3.3.classpath"/>
    <path refid="library.maven:_org.slf4j:slf4j-api:1.7.7.classpath"/>
    <path refid="library.maven:_org.apache.httpcomponents:httpclient-cache:4.2.5.classpath"/>
    <path refid="library.maven:_org.apache.httpcomponents:httpclient:4.2.5.classpath"/>
    <path refid="library.maven:_org.apache.httpcomponents:httpcore:4.2.4.classpath"/>
    <path refid="library.maven:_commons-codec:commons-codec:1.6.classpath"/>
    <path refid="library.maven:_org.slf4j:jcl-over-slf4j:1.7.7.classpath"/>
    <path refid="datahubrestclient.runtime.production.module.classpath"/>
    <path refid="library.maven:_com.fasterxml.jackson.core:jackson-annotations:2.5.0.classpath"/>
    <path refid="library.maven:_org.openrdf.sesame:sesame-rio-rdfxml:2.8.0.classpath"/>
    <path refid="library.maven:_org.openrdf.sesame:sesame-model:2.8.0.classpath"/>
    <path refid="library.maven:_org.openrdf.sesame:sesame-rio-api:2.8.0.classpath"/>
    <path refid="library.maven:_org.openrdf.sesame:sesame-rio-datatypes:2.8.0.classpath"/>
    <path refid="library.maven:_org.openrdf.sesame:sesame-rio-languages:2.8.0.classpath"/>
    <path refid="library.maven:_org.openrdf.sesame:sesame-util:2.8.0.classpath"/>
    <path refid="library.maven:_commons-io:commons-io:2.4.classpath"/>
    <path refid="library.maven:_org.openrdf.sesame:sesame-rio-turtle:2.8.0.classpath"/>
    <path refid="library.maven:_commons-cli:commons-cli:1.2.classpath"/>
    <path refid="library.maven:_org.aksw.rdfunit:rdfunit-validate:0.7.1.classpath"/>
    <path refid="library.maven:_org.aksw.rdfunit:rdfunit-core:0.7.1.classpath"/>
    <path refid="library.maven:_org.aksw.jena-sparql-api:jena-sparql-api-cache-h2:2.11.2-56.classpath"/>
    <path refid="library.maven:_com.h2database:h2:1.3.158.classpath"/>
    <path refid="library.maven:_org.aksw.jena-sparql-api:jena-sparql-api-resources:2.11.2-56.classpath"/>
    <path refid="library.maven:_org.aksw.rdfunit:rdfunit-resources:0.7.1.classpath"/>
    <path refid="library.maven:_org.aksw.jena-sparql-api:jena-sparql-api-core:2.11.2-56.classpath"/>
    <path refid="library.maven:_org.aksw.jena-sparql-api:jena-sparql-api-utils:2.11.2-56.classpath"/>
    <path refid="library.maven:_org.apache.jena:jena-sdb:1.4.1.classpath"/>
    <path refid="library.maven:_com.google.code.gson:gson:2.2.4.classpath"/>
    <path refid="library.maven:_org.apache.jena:jena-iri:1.0.1.classpath"/>
    <path refid="library.maven:_org.aksw.commons:collections:0.5.classpath"/>
    <path refid="library.maven:_net.sourceforge.collections:collections-generic:4.01.classpath"/>
    <path refid="library.maven:_org.aksw.commons:util:0.5.classpath"/>
    <path refid="library.maven:_org.slf4j:slf4j-ext:1.6.0.classpath"/>
    <path refid="library.maven:_ch.qos.cal10n:cal10n-api:0.7.2.classpath"/>
    <path refid="library.maven:_commons-validator:commons-validator:1.3.1.classpath"/>
    <path refid="library.maven:_commons-beanutils:commons-beanutils:1.7.0.classpath"/>
    <path refid="library.maven:_commons-digester:commons-digester:1.6.classpath"/>
    <path refid="library.maven:_commons-collections:commons-collections:2.1.classpath"/>
    <path refid="library.maven:_com.thoughtworks.xstream:xstream:1.3.1.classpath"/>
    <path refid="library.maven:_xpp3:xpp3_min:1.1.4c.classpath"/>
    <path refid="library.maven:_com.google.guava:guava:17.0.classpath"/>
    <path refid="library.maven:_org.apache.commons:commons-compress:1.2.classpath"/>
    <path refid="library.maven:_log4j:log4j:1.2.14.classpath"/>
    <path refid="library.maven:_org.apache.jena:jena-arq:2.11.2.classpath"/>
    <path refid="library.maven:_org.apache.jena:jena-core:2.11.2.classpath"/>
    <path refid="library.maven:_xerces:xercesimpl:2.11.0.classpath"/>
    <path refid="library.maven:_xml-apis:xml-apis:1.4.01.classpath"/>
    <path refid="library.maven:_org.slf4j:slf4j-log4j12:1.7.7.classpath"/>
    <path refid="library.maven:_org.apache.commons:commons-collections4:4.0.classpath"/>
    <path refid="library.maven:_javax.servlet:javax.servlet-api:3.1.0.classpath"/>
    <path refid="library.maven:_com.sun.jersey:jersey-grizzly2:1.8.classpath"/>
    <path refid="library.maven:_org.glassfish.grizzly:grizzly-http:2.1.1.classpath"/>
    <path refid="library.maven:_org.glassfish.grizzly:grizzly-framework:2.1.1.classpath"/>
    <path refid="library.maven:_org.glassfish.gmbal:gmbal-api-only:3.0.0-b023.classpath"/>
    <path refid="library.maven:_org.glassfish.external:management-api:3.0.0-b012.classpath"/>
    <path refid="library.maven:_org.glassfish.grizzly:grizzly-http-server:2.1.1.classpath"/>
    <path refid="library.maven:_org.glassfish.grizzly:grizzly-rcm:2.1.1.classpath"/>
    <path refid="library.maven:_org.glassfish.grizzly:grizzly-http-servlet:2.1.1.classpath"/>
    <path refid="library.maven:_org.glassfish.grizzly:grizzly-framework:tests:2.1.1.classpath"/>
    <path refid="library.maven:_org.glassfish:javax.servlet:3.1.classpath"/>
    <path refid="library.maven:_com.sun.jersey:jersey-server:1.8.classpath"/>
    <path refid="library.maven:_asm:asm:3.1.classpath"/>
    <path refid="library.maven:_com.sun.jersey:jersey-core:1.8.classpath"/>
    <path refid="library.maven:_org.jboss.resteasy:resteasy-multipart-provider:3.0.8.final.classpath"/>
    <path refid="library.maven:_org.jboss.resteasy:resteasy-jaxrs:3.0.8.final.classpath"/>
    <path refid="library.maven:_org.jboss.resteasy:jaxrs-api:3.0.8.final.classpath"/>
    <path refid="library.maven:_org.jboss.spec.javax.annotation:jboss-annotations-api_1.1_spec:1.0.1.final.classpath"/>
    <path refid="library.maven:_javax.activation:activation:1.1.classpath"/>
    <path refid="library.maven:_net.jcip:jcip-annotations:1.0.classpath"/>
    <path refid="library.maven:_org.jboss.resteasy:resteasy-client:3.0.8.final.classpath"/>
    <path refid="library.maven:_org.jboss.resteasy:resteasy-jaxb-provider:3.0.8.final.classpath"/>
    <path refid="library.maven:_com.sun.xml.bind:jaxb-impl:2.2.7.classpath"/>
    <path refid="library.maven:_com.sun.xml.bind:jaxb-core:2.2.7.classpath"/>
    <path refid="library.maven:_javax.xml.bind:jaxb-api:2.2.7.classpath"/>
    <path refid="library.maven:_com.sun.istack:istack-commons-runtime:2.16.classpath"/>
    <path refid="library.maven:_com.sun.xml.fastinfoset:fastinfoset:1.2.12.classpath"/>
    <path refid="library.maven:_javax.xml.bind:jsr173_api:1.0.classpath"/>
    <path refid="library.maven:_javax.mail:mail:1.5.0-b01.classpath"/>
    <path refid="library.maven:_org.apache.james:apache-mime4j:0.6.classpath"/>
    <path refid="library.maven:_commons-logging:commons-logging:1.1.1.classpath"/>
  </path>
  
  <path id="datahubdataidpropertymapper.module.classpath">
    <pathelement location="${datahubdataidpropertymapper.output.dir}"/>
    <path refid="${module.jdk.classpath.datahubdataidpropertymapper}"/>
    <path refid="library.maven:_com.github.jsonld-java:jsonld-java:0.5.1.classpath"/>
    <path refid="library.maven:_com.fasterxml.jackson.core:jackson-core:2.3.3.classpath"/>
    <path refid="library.maven:_com.fasterxml.jackson.core:jackson-databind:2.3.3.classpath"/>
    <path refid="library.maven:_org.slf4j:slf4j-api:1.7.7.classpath"/>
    <path refid="library.maven:_org.apache.httpcomponents:httpclient-cache:4.2.5.classpath"/>
    <path refid="library.maven:_org.apache.httpcomponents:httpclient:4.2.5.classpath"/>
    <path refid="library.maven:_org.apache.httpcomponents:httpcore:4.2.4.classpath"/>
    <path refid="library.maven:_commons-codec:commons-codec:1.6.classpath"/>
    <path refid="library.maven:_org.slf4j:jcl-over-slf4j:1.7.7.classpath"/>
    <pathelement location="${datahubrestclient.testoutput.dir}"/>
    <pathelement location="${datahubrestclient.output.dir}"/>
    <path refid="library.maven:_com.fasterxml.jackson.core:jackson-annotations:2.5.0.classpath"/>
    <path refid="library.maven:_org.openrdf.sesame:sesame-rio-rdfxml:2.8.0.classpath"/>
    <path refid="library.maven:_org.openrdf.sesame:sesame-model:2.8.0.classpath"/>
    <path refid="library.maven:_org.openrdf.sesame:sesame-rio-api:2.8.0.classpath"/>
    <path refid="library.maven:_org.openrdf.sesame:sesame-rio-datatypes:2.8.0.classpath"/>
    <path refid="library.maven:_org.openrdf.sesame:sesame-rio-languages:2.8.0.classpath"/>
    <path refid="library.maven:_org.openrdf.sesame:sesame-util:2.8.0.classpath"/>
    <path refid="library.maven:_commons-io:commons-io:2.4.classpath"/>
    <path refid="library.maven:_org.openrdf.sesame:sesame-rio-turtle:2.8.0.classpath"/>
    <path refid="library.maven:_commons-cli:commons-cli:1.2.classpath"/>
    <path refid="library.maven:_org.aksw.rdfunit:rdfunit-validate:0.7.1.classpath"/>
    <path refid="library.maven:_org.aksw.rdfunit:rdfunit-core:0.7.1.classpath"/>
    <path refid="library.maven:_org.aksw.jena-sparql-api:jena-sparql-api-cache-h2:2.11.2-56.classpath"/>
    <path refid="library.maven:_com.h2database:h2:1.3.158.classpath"/>
    <path refid="library.maven:_org.aksw.jena-sparql-api:jena-sparql-api-resources:2.11.2-56.classpath"/>
    <path refid="library.maven:_org.aksw.rdfunit:rdfunit-resources:0.7.1.classpath"/>
    <path refid="library.maven:_org.aksw.jena-sparql-api:jena-sparql-api-core:2.11.2-56.classpath"/>
    <path refid="library.maven:_org.aksw.jena-sparql-api:jena-sparql-api-utils:2.11.2-56.classpath"/>
    <path refid="library.maven:_org.apache.jena:jena-sdb:1.4.1.classpath"/>
    <path refid="library.maven:_com.google.code.gson:gson:2.2.4.classpath"/>
    <path refid="library.maven:_org.apache.jena:jena-iri:1.0.1.classpath"/>
    <path refid="library.maven:_org.aksw.commons:collections:0.5.classpath"/>
    <path refid="library.maven:_net.sourceforge.collections:collections-generic:4.01.classpath"/>
    <path refid="library.maven:_org.aksw.commons:util:0.5.classpath"/>
    <path refid="library.maven:_org.slf4j:slf4j-ext:1.6.0.classpath"/>
    <path refid="library.maven:_ch.qos.cal10n:cal10n-api:0.7.2.classpath"/>
    <path refid="library.maven:_commons-validator:commons-validator:1.3.1.classpath"/>
    <path refid="library.maven:_commons-beanutils:commons-beanutils:1.7.0.classpath"/>
    <path refid="library.maven:_commons-digester:commons-digester:1.6.classpath"/>
    <path refid="library.maven:_commons-collections:commons-collections:2.1.classpath"/>
    <path refid="library.maven:_com.thoughtworks.xstream:xstream:1.3.1.classpath"/>
    <path refid="library.maven:_xpp3:xpp3_min:1.1.4c.classpath"/>
    <path refid="library.maven:_com.google.guava:guava:17.0.classpath"/>
    <path refid="library.maven:_org.apache.commons:commons-compress:1.2.classpath"/>
    <path refid="library.maven:_log4j:log4j:1.2.14.classpath"/>
    <path refid="library.maven:_org.apache.jena:jena-arq:2.11.2.classpath"/>
    <path refid="library.maven:_org.apache.jena:jena-core:2.11.2.classpath"/>
    <path refid="library.maven:_xerces:xercesimpl:2.11.0.classpath"/>
    <path refid="library.maven:_xml-apis:xml-apis:1.4.01.classpath"/>
    <path refid="library.maven:_org.slf4j:slf4j-log4j12:1.7.7.classpath"/>
    <path refid="library.maven:_org.apache.commons:commons-collections4:4.0.classpath"/>
    <path refid="library.maven:_javax.servlet:javax.servlet-api:3.1.0.classpath"/>
    <path refid="library.maven:_com.sun.jersey:jersey-grizzly2:1.8.classpath"/>
    <path refid="library.maven:_org.glassfish.grizzly:grizzly-http:2.1.1.classpath"/>
    <path refid="library.maven:_org.glassfish.grizzly:grizzly-framework:2.1.1.classpath"/>
    <path refid="library.maven:_org.glassfish.gmbal:gmbal-api-only:3.0.0-b023.classpath"/>
    <path refid="library.maven:_org.glassfish.external:management-api:3.0.0-b012.classpath"/>
    <path refid="library.maven:_org.glassfish.grizzly:grizzly-http-server:2.1.1.classpath"/>
    <path refid="library.maven:_org.glassfish.grizzly:grizzly-rcm:2.1.1.classpath"/>
    <path refid="library.maven:_org.glassfish.grizzly:grizzly-http-servlet:2.1.1.classpath"/>
    <path refid="library.maven:_org.glassfish.grizzly:grizzly-framework:tests:2.1.1.classpath"/>
    <path refid="library.maven:_org.glassfish:javax.servlet:3.1.classpath"/>
    <path refid="library.maven:_com.sun.jersey:jersey-server:1.8.classpath"/>
    <path refid="library.maven:_asm:asm:3.1.classpath"/>
    <path refid="library.maven:_junit:junit:4.8.2.classpath"/>
    <path refid="library.maven:_com.sun.jersey:jersey-client:1.8.classpath"/>
    <path refid="library.maven:_com.sun.jersey:jersey-core:1.8.classpath"/>
    <path refid="library.maven:_org.jboss.resteasy:resteasy-multipart-provider:3.0.8.final.classpath"/>
    <path refid="library.maven:_org.jboss.resteasy:resteasy-jaxrs:3.0.8.final.classpath"/>
    <path refid="library.maven:_org.jboss.resteasy:jaxrs-api:3.0.8.final.classpath"/>
    <path refid="library.maven:_org.jboss.spec.javax.annotation:jboss-annotations-api_1.1_spec:1.0.1.final.classpath"/>
    <path refid="library.maven:_javax.activation:activation:1.1.classpath"/>
    <path refid="library.maven:_net.jcip:jcip-annotations:1.0.classpath"/>
    <path refid="library.maven:_org.jboss.resteasy:resteasy-client:3.0.8.final.classpath"/>
    <path refid="library.maven:_org.jboss.resteasy:resteasy-jaxb-provider:3.0.8.final.classpath"/>
    <path refid="library.maven:_com.sun.xml.bind:jaxb-impl:2.2.7.classpath"/>
    <path refid="library.maven:_com.sun.xml.bind:jaxb-core:2.2.7.classpath"/>
    <path refid="library.maven:_javax.xml.bind:jaxb-api:2.2.7.classpath"/>
    <path refid="library.maven:_com.sun.istack:istack-commons-runtime:2.16.classpath"/>
    <path refid="library.maven:_com.sun.xml.fastinfoset:fastinfoset:1.2.12.classpath"/>
    <path refid="library.maven:_javax.xml.bind:jsr173_api:1.0.classpath"/>
    <path refid="library.maven:_javax.mail:mail:1.5.0-b01.classpath"/>
    <path refid="library.maven:_org.apache.james:apache-mime4j:0.6.classpath"/>
    <path refid="library.maven:_commons-logging:commons-logging:1.1.1.classpath"/>
  </path>
  
  <path id="datahubdataidpropertymapper.runtime.module.classpath">
    <pathelement location="${datahubdataidpropertymapper.testoutput.dir}"/>
    <pathelement location="${datahubdataidpropertymapper.output.dir}"/>
    <path refid="library.maven:_com.github.jsonld-java:jsonld-java:0.5.1.classpath"/>
    <path refid="library.maven:_com.fasterxml.jackson.core:jackson-core:2.3.3.classpath"/>
    <path refid="library.maven:_com.fasterxml.jackson.core:jackson-databind:2.3.3.classpath"/>
    <path refid="library.maven:_org.slf4j:slf4j-api:1.7.7.classpath"/>
    <path refid="library.maven:_org.apache.httpcomponents:httpclient-cache:4.2.5.classpath"/>
    <path refid="library.maven:_org.apache.httpcomponents:httpclient:4.2.5.classpath"/>
    <path refid="library.maven:_org.apache.httpcomponents:httpcore:4.2.4.classpath"/>
    <path refid="library.maven:_commons-codec:commons-codec:1.6.classpath"/>
    <path refid="library.maven:_org.slf4j:jcl-over-slf4j:1.7.7.classpath"/>
    <path refid="datahubrestclient.runtime.module.classpath"/>
    <path refid="library.maven:_com.fasterxml.jackson.core:jackson-annotations:2.5.0.classpath"/>
    <path refid="library.maven:_org.openrdf.sesame:sesame-rio-rdfxml:2.8.0.classpath"/>
    <path refid="library.maven:_org.openrdf.sesame:sesame-model:2.8.0.classpath"/>
    <path refid="library.maven:_org.openrdf.sesame:sesame-rio-api:2.8.0.classpath"/>
    <path refid="library.maven:_org.openrdf.sesame:sesame-rio-datatypes:2.8.0.classpath"/>
    <path refid="library.maven:_org.openrdf.sesame:sesame-rio-languages:2.8.0.classpath"/>
    <path refid="library.maven:_org.openrdf.sesame:sesame-util:2.8.0.classpath"/>
    <path refid="library.maven:_commons-io:commons-io:2.4.classpath"/>
    <path refid="library.maven:_org.openrdf.sesame:sesame-rio-turtle:2.8.0.classpath"/>
    <path refid="library.maven:_commons-cli:commons-cli:1.2.classpath"/>
    <path refid="library.maven:_org.aksw.rdfunit:rdfunit-validate:0.7.1.classpath"/>
    <path refid="library.maven:_org.aksw.rdfunit:rdfunit-core:0.7.1.classpath"/>
    <path refid="library.maven:_org.aksw.jena-sparql-api:jena-sparql-api-cache-h2:2.11.2-56.classpath"/>
    <path refid="library.maven:_com.h2database:h2:1.3.158.classpath"/>
    <path refid="library.maven:_org.aksw.jena-sparql-api:jena-sparql-api-resources:2.11.2-56.classpath"/>
    <path refid="library.maven:_org.aksw.rdfunit:rdfunit-resources:0.7.1.classpath"/>
    <path refid="library.maven:_org.aksw.jena-sparql-api:jena-sparql-api-core:2.11.2-56.classpath"/>
    <path refid="library.maven:_org.aksw.jena-sparql-api:jena-sparql-api-utils:2.11.2-56.classpath"/>
    <path refid="library.maven:_org.apache.jena:jena-sdb:1.4.1.classpath"/>
    <path refid="library.maven:_com.google.code.gson:gson:2.2.4.classpath"/>
    <path refid="library.maven:_org.apache.jena:jena-iri:1.0.1.classpath"/>
    <path refid="library.maven:_org.aksw.commons:collections:0.5.classpath"/>
    <path refid="library.maven:_net.sourceforge.collections:collections-generic:4.01.classpath"/>
    <path refid="library.maven:_org.aksw.commons:util:0.5.classpath"/>
    <path refid="library.maven:_org.slf4j:slf4j-ext:1.6.0.classpath"/>
    <path refid="library.maven:_ch.qos.cal10n:cal10n-api:0.7.2.classpath"/>
    <path refid="library.maven:_commons-validator:commons-validator:1.3.1.classpath"/>
    <path refid="library.maven:_commons-beanutils:commons-beanutils:1.7.0.classpath"/>
    <path refid="library.maven:_commons-digester:commons-digester:1.6.classpath"/>
    <path refid="library.maven:_commons-collections:commons-collections:2.1.classpath"/>
    <path refid="library.maven:_com.thoughtworks.xstream:xstream:1.3.1.classpath"/>
    <path refid="library.maven:_xpp3:xpp3_min:1.1.4c.classpath"/>
    <path refid="library.maven:_com.google.guava:guava:17.0.classpath"/>
    <path refid="library.maven:_org.apache.commons:commons-compress:1.2.classpath"/>
    <path refid="library.maven:_log4j:log4j:1.2.14.classpath"/>
    <path refid="library.maven:_org.apache.jena:jena-arq:2.11.2.classpath"/>
    <path refid="library.maven:_org.apache.jena:jena-core:2.11.2.classpath"/>
    <path refid="library.maven:_xerces:xercesimpl:2.11.0.classpath"/>
    <path refid="library.maven:_xml-apis:xml-apis:1.4.01.classpath"/>
    <path refid="library.maven:_org.slf4j:slf4j-log4j12:1.7.7.classpath"/>
    <path refid="library.maven:_org.apache.commons:commons-collections4:4.0.classpath"/>
    <path refid="library.maven:_javax.servlet:javax.servlet-api:3.1.0.classpath"/>
    <path refid="library.maven:_com.sun.jersey:jersey-grizzly2:1.8.classpath"/>
    <path refid="library.maven:_org.glassfish.grizzly:grizzly-http:2.1.1.classpath"/>
    <path refid="library.maven:_org.glassfish.grizzly:grizzly-framework:2.1.1.classpath"/>
    <path refid="library.maven:_org.glassfish.gmbal:gmbal-api-only:3.0.0-b023.classpath"/>
    <path refid="library.maven:_org.glassfish.external:management-api:3.0.0-b012.classpath"/>
    <path refid="library.maven:_org.glassfish.grizzly:grizzly-http-server:2.1.1.classpath"/>
    <path refid="library.maven:_org.glassfish.grizzly:grizzly-rcm:2.1.1.classpath"/>
    <path refid="library.maven:_org.glassfish.grizzly:grizzly-http-servlet:2.1.1.classpath"/>
    <path refid="library.maven:_org.glassfish.grizzly:grizzly-framework:tests:2.1.1.classpath"/>
    <path refid="library.maven:_org.glassfish:javax.servlet:3.1.classpath"/>
    <path refid="library.maven:_com.sun.jersey:jersey-server:1.8.classpath"/>
    <path refid="library.maven:_asm:asm:3.1.classpath"/>
    <path refid="library.maven:_junit:junit:4.8.2.classpath"/>
    <path refid="library.maven:_com.sun.jersey:jersey-client:1.8.classpath"/>
    <path refid="library.maven:_com.sun.jersey:jersey-core:1.8.classpath"/>
    <path refid="library.maven:_org.jboss.resteasy:resteasy-multipart-provider:3.0.8.final.classpath"/>
    <path refid="library.maven:_org.jboss.resteasy:resteasy-jaxrs:3.0.8.final.classpath"/>
    <path refid="library.maven:_org.jboss.resteasy:jaxrs-api:3.0.8.final.classpath"/>
    <path refid="library.maven:_org.jboss.spec.javax.annotation:jboss-annotations-api_1.1_spec:1.0.1.final.classpath"/>
    <path refid="library.maven:_javax.activation:activation:1.1.classpath"/>
    <path refid="library.maven:_net.jcip:jcip-annotations:1.0.classpath"/>
    <path refid="library.maven:_org.jboss.resteasy:resteasy-client:3.0.8.final.classpath"/>
    <path refid="library.maven:_org.jboss.resteasy:resteasy-jaxb-provider:3.0.8.final.classpath"/>
    <path refid="library.maven:_com.sun.xml.bind:jaxb-impl:2.2.7.classpath"/>
    <path refid="library.maven:_com.sun.xml.bind:jaxb-core:2.2.7.classpath"/>
    <path refid="library.maven:_javax.xml.bind:jaxb-api:2.2.7.classpath"/>
    <path refid="library.maven:_com.sun.istack:istack-commons-runtime:2.16.classpath"/>
    <path refid="library.maven:_com.sun.xml.fastinfoset:fastinfoset:1.2.12.classpath"/>
    <path refid="library.maven:_javax.xml.bind:jsr173_api:1.0.classpath"/>
    <path refid="library.maven:_javax.mail:mail:1.5.0-b01.classpath"/>
    <path refid="library.maven:_org.apache.james:apache-mime4j:0.6.classpath"/>
    <path refid="library.maven:_commons-logging:commons-logging:1.1.1.classpath"/>
  </path>
  
  
  <patternset id="excluded.from.module.datahubdataidpropertymapper">
    <patternset refid="ignored.files"/>
  </patternset>
  
  <patternset id="excluded.from.compilation.datahubdataidpropertymapper">
    <patternset refid="excluded.from.module.datahubdataidpropertymapper"/>
  </patternset>
  
  <path id="datahubdataidpropertymapper.module.sourcepath">
    <dirset dir="${module.datahubdataidpropertymapper.basedir}">
      <include name="src/main/java"/>
      <include name="src/main/resources"/>
    </dirset>
  </path>
  
  <path id="datahubdataidpropertymapper.module.test.sourcepath">
    <dirset dir="${module.datahubdataidpropertymapper.basedir}">
      <include name="src/test/java"/>
    </dirset>
  </path>
  
  
  <target name="compile.module.datahubdataidpropertymapper" depends="compile.module.datahubdataidpropertymapper.production,compile.module.datahubdataidpropertymapper.tests" description="Compile module DatahubDataIdPropertyMapper"/>
  
  <target name="compile.module.datahubdataidpropertymapper.production" depends="register.custom.compilers,compile.module.datahubrestclient" description="Compile module DatahubDataIdPropertyMapper; production classes">
    <mkdir dir="${datahubdataidpropertymapper.output.dir}"/>
    <javac2 destdir="${datahubdataidpropertymapper.output.dir}" debug="${compiler.debug}" nowarn="${compiler.generate.no.warnings}" memorymaximumsize="${compiler.max.memory}" fork="true" executable="${module.jdk.bin.datahubdataidpropertymapper}/javac">
      <compilerarg line="${compiler.args.datahubdataidpropertymapper}"/>
      <bootclasspath refid="datahubdataidpropertymapper.module.bootclasspath"/>
      <classpath refid="datahubdataidpropertymapper.module.production.classpath"/>
      <src refid="datahubdataidpropertymapper.module.sourcepath"/>
      <patternset refid="excluded.from.compilation.datahubdataidpropertymapper"/>
    </javac2>
    
    <copy todir="${datahubdataidpropertymapper.output.dir}">
      <fileset dir="${module.datahubdataidpropertymapper.basedir}/src/main/java">
        <patternset refid="compiler.resources"/>
        <type type="file"/>
      </fileset>
      <fileset dir="${module.datahubdataidpropertymapper.basedir}/src/main/resources">
        <patternset refid="compiler.resources"/>
        <type type="file"/>
      </fileset>
    </copy>
  </target>
  
  <target name="compile.module.datahubdataidpropertymapper.tests" depends="register.custom.compilers,compile.module.datahubdataidpropertymapper.production" description="compile module DatahubDataIdPropertyMapper; test classes" unless="skip.tests">
    <mkdir dir="${datahubdataidpropertymapper.testoutput.dir}"/>
    <javac2 destdir="${datahubdataidpropertymapper.testoutput.dir}" debug="${compiler.debug}" nowarn="${compiler.generate.no.warnings}" memorymaximumsize="${compiler.max.memory}" fork="true" executable="${module.jdk.bin.datahubdataidpropertymapper}/javac">
      <compilerarg line="${compiler.args.datahubdataidpropertymapper}"/>
      <bootclasspath refid="datahubdataidpropertymapper.module.bootclasspath"/>
      <classpath refid="datahubdataidpropertymapper.module.classpath"/>
      <src refid="datahubdataidpropertymapper.module.test.sourcepath"/>
      <patternset refid="excluded.from.compilation.datahubdataidpropertymapper"/>
    </javac2>
    
    <copy todir="${datahubdataidpropertymapper.testoutput.dir}">
      <fileset dir="${module.datahubdataidpropertymapper.basedir}/src/test/java">
        <patternset refid="compiler.resources"/>
        <type type="file"/>
      </fileset>
    </copy>
  </target>
  
  <target name="clean.module.datahubdataidpropertymapper" description="cleanup module">
    <delete dir="${datahubdataidpropertymapper.output.dir}"/>
    <delete dir="${datahubdataidpropertymapper.testoutput.dir}"/>
  </target>
</project>