<form name="formAgent" >
    <div ng-init="agentBoxTitle='Create a new Agent'"></div>
    <div class="modal-header">
        <h3 class="modal-title">Agents & Contact</h3>
        <div style="padding: 10px 5px;">
            <div style="padding: 10px 5px;">
            <span>
            Here you can create new contact information and specify <br/> the role of involved persons/organisations (aka. agents).
            </span>
                <div class="pull-right">
                    <span>select languge of literals:</span>
                    <select id="langSelect" name="langSelect" ng-model="selectedLanguage" ng-options="lang.code as lang.lang for lang in languages"></select>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div ng-include="'agentInclude.html'"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="formAgent.$valid && ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</form>