<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading foaf-link">
                <h1 class="panel-title">{{agentBoxTitle}}</h1>
            </div>
            <div class="panel-body">
                <div ng-hide="agentDontShowType">
                    <label>Type of Agent: </label>  <span style="color: red">*</span>
                    <div class="pull-right">
                        <a class="desc2" target="_blank" href='http://dataid.dbpedia.org/ns/core#'> dataid:agentRole </a>
                        <span  popover-placement="bottom" class="help-button"  popover="Please select the function of this Agent." >?</span>
                    </div>
                    <div class="btn-group">
                        <label class="btn btn-success" btn-radio="'Creator'" name="agentType" ng-model="agent['dataid:agentRole']['@value']" >
                            Creator
                        </label>
                        <label class="btn btn-success" name="agentType" ng-model="agent['dataid:agentRole']['@value']" btn-radio="'Maintainer'" >
                            Maintainer
                        </label>
                        <label class="btn btn-success" name="agentType" ng-model="agent['dataid:agentRole']['@value']" btn-radio="'Publisher'" >
                            Publisher
                        </label>
                        <label class="btn btn-success" name="agentType" ng-model="agent['dataid:agentRole']['@value']" btn-radio="'Contributor'">
                            Contributor
                        </label>
                        <label class="btn btn-success" name="agentType" ng-model="agent['dataid:agentRole']['@value']" btn-radio="'Contact'">
                            Contact
                        </label>
                    </div>
                    <div style="display: inline-block;"><ng-messages ng-messages-include="messagesTemplate" for="this[formVar].agentType.$error"></ng-messages></div>
                </div>

                <div ng-controller="PopoverCtrl">
                    <label>Agent Name</label> <span ng-show="agent['dataid:agentName']['@required']" style="color: red">*</span>
                    <div class="pull-right">
                        <a class="desc2" target="_blank" href='http://dataid.dbpedia.org/ns/core#'> dataid:agentName </a>
                        <span  popover-placement="bottom" class="help-button"  popover="{{dataset['dataid:agentName']['@label']}}" >?</span>
                    </div>
                    <br>
                    <input ng-init="iName='agentName'"
                           type="text"
                           class="input"
                           id="agentName"
                           name="agentName"
                           dirty
                           ng-model="agent['dataid:agentName']"
                           dataid-model>
                    <div style="display: inline-block;"><ng-messages ng-messages-include="messagesTemplate" for="this[formVar].agentName.$error"></ng-messages></div>
                    </div>

                <div ng-controller="PopoverCtrl">
                    <label>Agent Mail</label> <span ng-show="agent['dataid:agentMail']['@required']" style="color: red">*</span>
                    <div class="pull-right">
                        <a class="desc2" target="_blank" href='http://dataid.dbpedia.org/ns/core#'> dataid:agentMail </a>
                        <span  popover-placement="bottom" class="help-button"  popover="{{dataset['dataid:agentMail']['@label']}}" >?</span>
                    </div>
                    <br>
                    <input ng-init="iName='agentMail'"
                           email
                           type="text"
                           class="input"
                           id="agentMail"
                           name="agentMail"
                           ng-model="agent['dataid:agentMail']"
                           dataid-model>
                    <div style="display: inline-block;"><ng-messages ng-messages-include="messagesTemplate" for="this[formVar].agentMail.$error"></ng-messages></div>
                </div>

                <div ng-controller="PopoverCtrl">
                    <label>Agent URL</label> <span ng-show="agent['dataid:agentUrl']['@required']" style="color: red">*</span>
                    <div class="pull-right">
                        <a class="desc2" target="_blank" href='http://dataid.dbpedia.org/ns/core#'> dataid:agentUrl </a>
                        <span  popover-placement="bottom" class="help-button"  popover="{{dataset['dataid:agentUrl']['@label']}}" >?</span>
                    </div>
                    <br>
                    <input ng-init="iName='agentUrl'"
                           type="text"
                           class="input"
                           id="agentUrl"
                           name="agentUrl"
                           ng-model="agent['dataid:agentUrl']"
                           dataid-model>
                    <div style="display: inline-block;"><ng-messages ng-messages-include="messagesTemplate" for="this[formVar].agentUrl.$error"></ng-messages></div>
                </div>

                <div ng-controller="PopoverCtrl">
                    <label>Label</label> <span ng-show="agent['rdfs:label']['@required']" style="color: red">*</span>
                    <div class="pull-right">
                        <a class="desc2" target="_blank" href='http://www.w3.org/TR/rdf-schema/label'> rdfs:label </a>
                        <span  popover-placement="bottom" class="help-button"  popover="{{dataset['rdfs:label']['@label']}}" >?</span>
                    </div>
                    <br>
                    <input ng-init="iName='rdfsAgentLabel'"
                           type="text"
                           class="input"
                           id="rdfsAgentLabel"
                           name="rdfsAgentLabel"
                           ng-model="agent['rdfs:label']"
                           dataid-model="selectedLanguage">
                    <div style="display: inline-block;"><ng-messages ng-messages-include="messagesTemplate" for="this[formVar].rdfsAgentLabel.$error"></ng-messages></div>
                </div>
            </div>
        </div>
    </div>
</div>