<div class="panel panel-primary">
    <div class="panel-heading foaf-link">
        <h1 class="panel-title">{{agentBoxTitle}}</h1>
    </div>
    <div class="panel-body">
        <div ng-hide="agentDontShowType">
            <label>Type of Agent: </label>  <span style="color: red">*</span><br/>
            <input type="radio" ng-required="someTypeSelected()"  ng-click="agent['dataid:agentRole']['@value']='Creator'" ng-model="agent['@type']" value="dataid:Creator, dataid:Agent" checked="checked" ng-list="/,|\./"> dataid:Creator
            <input style="margin-left: 20px" type="radio" ng-required="someTypeSelected()"  ng-click="agent['dataid:agentRole']['@value']='Contributor'" ng-model="agent['@type']" value="dataid:Contributor, dataid:Agent" ng-list="/,|\./"> dataid:Contributor
            <input style="margin-left: 20px" type="radio" ng-required="someTypeSelected()"  ng-click="agent['dataid:agentRole']['@value']='Contact'" ng-model="agent['@type']" value="dataid:Contact, dataid:Agent" ng-list="/,|\./"> dataid:Contact
            <input style="margin-left: 20px" type="radio" ng-required="someTypeSelected()"  ng-click="agent['dataid:agentRole']['@value']='Maintainer'" ng-model="agent['@type']" value="dataid:Maintainer, dataid:Agent" ng-list="/,|\./"> dataid:Maintainer
            <input style="margin-left: 20px" type="radio" ng-required="someTypeSelected()" ng-click="agent['dataid:agentRole']['@value']='Publisher'" ng-model="agent['@type']" value="dataid:Publisher, dataid:Agent" ng-list="/,|\./"> dataid:Publisher <br/>
        </div>

        <label style="margin-top: 10px">Label</label> <span ng-show="agent['rdfs:label']['@required']" style="color: red">*</span>
        <a style="margin-top: 10px" class="desc2" target="_blank" href='http://www.w3.org/TR/rdf-schema/label'> rdfs:label </a>    <br/>
        <input class="input-modal-md" ng-required="agent['rdfs:label']['@required']" ng-model="agent['rdfs:label']['@value'][selectedLanguage]"> <br/>

        <label>Agent Name</label> <span ng-show="agent['dataid:agentName']['@required']" style="color: red">*</span>
        <a class="desc2" target="_blank" href='http://dataid.dbpedia.org/ns/core#'> dataid:agentName </a>
        <input class="input-modal-md" ng-required="agent['dataid:agentName']['@required']" ng-model="agent['dataid:agentName']['@value']"> <br/>

        <label>Agent Mail</label> <span ng-show="agent['dataid:agentMail']['@required']" style="color: red">*</span>
        <a class="desc2" target="_blank" href='http://dataid.dbpedia.org/ns/core#'> dataid:agentMail </a>
        <input type="email" class="input-modal-md" ng-required="agent['dataid:agentMail']['@required']" ng-model="agent['dataid:agentMail']['@value']"> <br/>

        <label>Agent URL</label> <span ng-show="agent['dataid:agentUrl']['@required']" style="color: red">*</span>
        <a class="desc2" target="_blank" href='http://dataid.dbpedia.org/ns/core#'> dataid:agentUrl </a>
        <input type="url" class="input-modal-md" ng-required="agent['dataid:agentUrl']['@required']" ng-model="agent['dataid:agentUrl']['@value']"> <br/>
    </div>
</div>