
<div ng-init="clicked='on'"></div>
<div class="panel panel-primary">
    <div class="panel-heading hover-link" ng-click="clickTest()">
        <h1 class="panel-title">General Information</h1>
    </div>
    <div class="panel-body" ng-show="clicked=='on'">
        <div>
<!--            <label>DataID URI <span style="color: red">*</span></label>
            <div class="pull-right">
                <span  popover-placement="right" class="help-button"  popover="This is the most important entry. Please use an unique URI starting with 'http://' as an Id. It is recommended to choose a domain under your supervision (e.g. your organization domain name). Otherwise, please use dbpedia.dataid.org as domain." >?</span>
            </div>
            <br>  
            <input ng-required="true" ng-class="{'disabled': isTemplate}" id="dataiduri" placeholder="e.g. http://dbpedia.dataid.org/myExampleDataId#1" class="input" type="text" ng-model="root['@id']">
            <br/> 
            <span class="label label-danger" ng-show="form.dataset.$error.url">{{messages.notValidURI}} <br></span>-->
            <div ng-controller="PopoverCtrl">
                <label>Title <span style="color: red">*</span></label>
                <div class="pull-right">
                    <a class="desc2" target="_blank" href='http://purl.org/dc/terms/title'> dc:title </a>
                    <span  popover-placement="bottom" class="help-button"  popover="{{root['dc:title']['@label']}}" >?</span>
                </div>

                <br>
                <input ng-init="iName='dcTitle'"
                       class="input"
                       id="dcTitle"
                       name="dcTitle"
                       dirty
                       ng-model="root['dc:title']"
                       dataid-model>
                <div style="display: inline-block; font-size:10px;"><ng-messages ng-messages-include="messagesTemplate" for="form.dcTitle.$error"></ng-messages></div>
            </div>

            <div ng-controller="PopoverCtrl">
                <label for="dDescription">Description</label> <span style="color: red">*</span>
                <div class="pull-right">
                    <a class="desc2" target="_blank" href='http://purl.org/dc/terms/description'> dc:description </a>
                    <span  popover-placement="bottom" class="help-button"  popover="{{root['dc:description']['@label']}}" >?</span>
                </div>
                <br>
                <textarea ng-init="iName='dDescription'"
                       class="input"
                       rows="4"
                       id="dDescription"
                       name="dDescription"
                       ng-model="root['dc:description']"
                       dataid-model="selectedLanguage">
                </textarea>
                <div style="display: inline-block; font-size:10px;"><ng-messages ng-messages-include="messagesTemplate" for="form.dDescription.$error"></ng-messages></div>
            </div>

            <div ng-controller="PopoverCtrl">
                <label>Label</label> <span ng-show="root['rdfs:label']['@required']" style="color: red">*</span>
                <div class="pull-right">
                    <a class="desc2" target="_blank" href='http://www.w3.org/TR/rdf-schema/label'> rdfs:label </a>
                    <span  popover-placement="bottom" class="help-button"  popover="{{root['rdfs:label']['@label']}}" >?</span>
                </div>
                <br>
                <input ng-init="iName='rdfsLabel'"
                       class="input"
                       id="rdfsLabel"
                       name="rdfsLabel"
                       ng-model="root['rdfs:label']"
                       dataid-model="selectedLanguage">
                <div style="display: inline-block; font-size:10px;"><ng-messages ng-messages-include="messagesTemplate" for="form.rdfsLabel.$error"></ng-messages></div>
            <!--
            <label>Ontology Location<span style="color: red">*</span> </label>
            <a class="desc2" target="_blank" href='http://dataid.dbpedia.org/ns/core#'> dataid:ontologyLocation </a>
            <br>
            <input required url name="ontologyLocation" class="input" type="text" ng-model="ds.ontologyLocation">
            <br/>
            <span ng-show="form.ontologyLocation.$error.url">{{messages.notValidURI}} <br></span>
            <br/>-->
            </div>
        </div>
    </div>
</div>