<div class="panel panel-primary">
    <div ng-init="clicked='on'"></div>
    <div class="panel-heading" >
        <h1 class="panel-title">License</h1>
    </div>
    <div class="panel-body hover-link">

        <label for="licenSelect">License</label> <span ng-show="dataset['dc:license']['@required']" style="color: red">*</span>
        <div class="pull-right">
            <a class="desc2" target="_blank" href='http://purl.org/dc/terms/license'> dc:license </a>
            <span  popover-placement="bottom" class="help-button"  popover="{{dataset['dc:license']['@label']}}" >?</span>
        </div>
        <br>
        <!--TODO ng-model="dataset['dataid:licenseName']['@value']"-->
        <div style="width: 100%;">
            <select class="btn-success"
                    style="width: 100%;"
                    id="licenSelect"
                    name="licenSelect"
                    ng-model="dataset['dc:license']"
                    dataid-model
                    ng-options="license['license']['value'] as license['label']['value'] for license in licenses"
                    multiselectdropdown="licenses"
                    multiselectplaceholder="select a license"
                    multiselectidtag="license"
                    multiselectvalidate>
            </select>
        </div>
        <div style="display: inline-block;"><ng-messages ng-messages-include="messagesTemplate" for="this[formVar].licenSelect.$error"></ng-messages></div>
        <br/>

        <label for="dcrights">Rights Statement</label> <span ng-show="dataset['dc:rights']['@required']" style="color: red">*</span>
        <div class="pull-right">
            <a class="desc2" target="_blank" href='http://purl.org/dc/terms/rights'> dc:rights </a>
            <span  popover-placement="bottom" class="help-button"  popover="{{dataset['dc:rights']['@label']}}" >?</span>
        </div>
        <br>
        <textarea class="input"
                  rows="3"
                  id="dcrights"
                  name="dcrights"
                  dataid-model="selectedLanguage"
                  ng-model="dataset['dc:rights']">
        </textarea>
        <div style="display: inline-block;"><ng-messages ng-messages-include="messagesTemplate" for="this[formVar].dcrights.$error"></ng-messages></div>
    </div>
</div>