<form name="formDist" ng-submit="ok()" novalidate>
    <div class="modal-header">
        <div style="" class="row">
            <div class="col-md-8">
                <h3 class="modal-title">New Distribution</h3>
            </div>
            <div class="col-md-4">
                <div class="pull-right">
                    <div style="width: 100%;">
                        <select class="btn-success"
                                style="width: 100%;"
                                id="langSelect"
                                name="langSelect"
                                ng-model="selectedLanguage"
                                ng-options="lang.code.value as lang.lang.value for lang in languages"
                                multiselectdropdown="languages"
                                multiselectprefix="languge of literals: "
                                multiselectidtag="code"
                                multiselectfilter>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-12" style="margin-top: 8px;">
                <div class="input-group" ng-controller="PopoverCtrl">
                    <span class="input-group-addon" style="border-color: #EEEEEE; font-size:13px; padding-right: 2px;">uri: {{dataset['@id'].substring(0, dataset['@id'].indexOf('#')+1)}}</span>
                    <input type="text"
                           class="form-control parturi"
                           style="border-color: #EEEEEE; font-size:13px; padding-left: 2px;"
                           name="idinput"
                           id="idinput"
                           ng-disabled="edituri"
                           ng-init="iName='idinput'"
                           ng-model="halfuri"
                           dataid-model
                           parturi="dataset['@id'].substring(0, dataset['@id'].indexOf('#'))">
                    <div style="display: inline-block;"><ng-messages ng-messages-include="messagesTemplate" for="formDist.idinput.$error"></ng-messages></div>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-warning" ng-click="uriEditClik();" style="border-color: #EEEEEE; height:34px;">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div ng-init="clicked='on'"></div>
                    <div class="panel-heading">
                        <h1 class="panel-title">Basics</h1>
                    </div>
                    <div class="panel-body hover-link" >
                        <label>Distribution Type</label>  <span ng-show="true" style="color: red">*</span>
                        <div class="pull-right">
                            <span  popover-placement="bottom" class="help-button"  popover="Please define the type of this distribution (default: dataid:Distribution)" >?</span>
                        </div>
                        <div ng-init="dataset['@type'][1]='dataid:SingleFile'"></div>
                        <div class="btn-group">
                            <label class="btn btn-success" name="distType" ng-model="dataset['@type'][1]" btn-radio="'dataid:SingleFile'" >
                                File
                            </label>
                            <label class="btn btn-success" name="distType" ng-model="dataset['@type'][1]" btn-radio="'dataid:Directory'" >
                                Directory
                            </label>
                            <label class="btn btn-success" name="distType" ng-model="dataset['@type'][1]" btn-radio="'dataid:SparqlEndpoint'" >
                                SPARQL Endpoint
                            </label>
                            <label class="btn btn-success" name="distType" ng-model="dataset['@type'][1]" btn-radio="'dataid:ServiceEndpoint'" >
                                Web Service
                            </label>
                        </div>
                        <div style="display: inline-block;"><ng-messages ng-messages-include="messagesTemplate" for="formDist.distType.$error"></ng-messages></div>

                        <div ng-controller="PopoverCtrl">
                            <label style="margin-top: 10px" for="distTitle">Title</label>  <span ng-show="dataset['dc:title']['@required']" style="color: red">*</span>
                            <div class="pull-right">
                                <span  popover-placement="bottom" class="help-button"  popover="{{dataset['dc:title']['@label']}}" >?</span>
                            </div>
                            <a style="margin-top: 10px"  class="desc2" target="_blank" href='http://purl.org/dc/terms/title'> dc:title </a>
                            <br>
                            <input ng-init="iName='distTitle'"
                                   style="width: 100%;"
                                   class="input"
                                   type="text"
                                   name="distTitle"
                                   id="distTitle"
                                   dirty
                                   ng-model="dataset['dc:title']"
                                   dataid-model>
                            <div style="display: inline-block;"><ng-messages ng-messages-include="messagesTemplate" for="formDist.distTitle.$error"></ng-messages></div>
                        </div>

                        <div ng-controller="PopoverCtrl">
                            <label for="dDescription">Description</label>  <span ng-show="dataset['dc:description']['@required']" style="color: red">*</span>
                            <div class="pull-right">
                                <span  popover-placement="bottom" class="help-button"  popover="{{dataset['dc:description']['@label']}}" >?</span>
                            </div>
                            <a class="desc2" target="_blank" href='http://purl.org/dc/terms/description'> dc:description </a>
                            <br>
                            <textarea ng-init="iName='dDescription'"
                                      style="width: 100%;"
                                      class="input"
                                      rows="4"
                                      name="dDescription"
                                      id="dDescription"
                                      ng-model="dataset['dc:description']"
                                      dataid-model="selectedLanguage">
                            </textarea>
                            <div style="display: inline-block;"><ng-messages ng-messages-include="messagesTemplate" for="formDist.dDescription.$error"></ng-messages></div>
                        </div>

                        <div ng-controller="PopoverCtrl">
                            <label for="rdfsLabel">Label</label> <span ng-show="dataset['rdfs:label']['@required']" style="color: red">*</span>
                            <div class="pull-right">
                                <span  popover-placement="bottom" class="help-button"  popover="{{dataset['rdfs:label']['@label']}}" >?</span>
                            </div>
                            <a style="float: right; margin-right: 0px;" target="_blank" href='"http://www.w3.org/2000/01/rdf-schema#label'> rdfs:label </a>
                            <br>
                            <input ng-init="iName='rdfsLabel'"
                                   style="width: 100%;"
                                   class="input"
                                   type="text"
                                   id="rdfsLabel"
                                   name="rdfsLabel"
                                   dataid-model="selectedLanguage"
                                   ng-model="dataset['rdfs:label']">
                            <div style="display: inline-block;"><ng-messages ng-messages-include="messagesTemplate" for="formDist.rdfsLabel.$error"></ng-messages></div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div ng-init="clicked='on'"></div>
                    <div class="panel-heading">
                        <h1 class="panel-title">Access & Contact</h1>
                    </div>
                    <div class="panel-body hover-link" >
                        <div ng-controller="PopoverCtrl">
                            <label for="agentSelect">Associated Agents</label> <span ng-show="dataset['dataid:associatedAgent']['@required']" style="color: red">*</span>
                            <div class="pull-right">
                                <span  popover-placement="bottom" class="help-button"  popover="{{dataset['dataid:associatedAgent']['@label']}}" >?</span>
                            </div>
                            <a style="float: right; margin-right: 0px;" target="_blank" href='http://dataid.dbpedia.org/ns/core#associatedAgent'> dataid:associatedAgent </a>
                            <br>
                            <div style="display: table;">
                                <select  class="btn-success"
                                         style="display:table-cell; width: 100%;"
                                         id="agentSelect"
                                         name="agentSelect"
                                         ng-model="dataset['dataid:associatedAgent']"
                                         dataid-model
                                         ng-options="agent['@id'] as agent['dataid:agentName']['@value'] for agent in agents"
                                         multiple
                                         multiselectdropdown="agents"
                                         addfunction="openagent('Agent')"
                                         addlabel="new Agent"
                                         multiselectvalidate>
                                </select>
                            </div>
                            <div style="display: inline-block;"><ng-messages ng-messages-include="messagesTemplate" for="formDist.agentSelect.$error"></ng-messages></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary" id="dataInformationPanel">
                    <div ng-init="clicked='on'"></div>
                    <div class="panel-heading">
                        <h1 class="panel-title">Data Information</h1>
                    </div>
                    <div class="panel-body hover-link" >
                            <div ng-controller="PopoverCtrl" ng-show="dataset['@type'][1] == 'dataid:SingleFile'">
                                <label for="downloadURL">Download URL</label> <span ng-show="dataset['dcat:downloadURL']['@required']" style="color: red">*</span>
                                <div class="pull-right">
                                    <span  popover-placement="bottom" class="help-button"  popover="{{dataset['dcat:downloadURL']['@label']}}" >?</span>
                                </div>
                                <a style="float: right; margin-right: 0px;" target="_blank" href='http://www.w3.org/TR/vocab-dcat/#downloadURL'> dcat:downloadURL </a>
                                <br>
                                <textarea style="width: 100%;"
                                       class="input"
                                       id="downloadURL"
                                       name="downloadURL"
                                       ng-blur="evalDistUrl(formDist.downloadURL.getValue())"
                                       ng-model="dataset['dcat:downloadURL']"
                                       dataid-model>
                                </textarea>
                                <div style="display: inline-block;"><ng-messages ng-messages-include="messagesTemplate" for="formDist.downloadURL.$error"></ng-messages></div>
                            </div>
                            <div ng-controller="PopoverCtrl" ng-show="dataset['@type'][1] != 'dataid:SingleFile'">
                                <label for="dAccessURL">Access URL</label> <span ng-show="dataset['dcat:accessURL']['@required']" style="color: red">*</span>
                                <div class="pull-right">
                                    <span  popover-placement="bottom" class="help-button"  popover="{{dataset['dcat:accessURL']['@label']}}" >?</span>
                                </div>
                                <a style="float: right; margin-right: 0px;" target="_blank" href='http://www.w3.org/TR/vocab-dcat/#accessURL'> dcat:accessURL </a>
                                <br>
                                <textarea style="width: 100%;"
                                       class="input"
                                       id="dAccessURL"
                                       name="dAccessURL"
                                       ng-model="dataset['dcat:accessURL']"
                                       dataid-model>
                                </textarea>
                                <div style="display: inline-block;"><ng-messages ng-messages-include="messagesTemplate" for="formDist.dAccessURL.$error"></ng-messages></div>
                            </div>

                            <div ng-show="urlHeaderMap['Content-Length'] !== undefined">
                                <table style="width:100%" >
                                    <tbody>
                                    <tr>
                                        <td>Size of Distribution File</td>
                                        <td class="pull-right"><strong>{{calcSizeString(urlHeaderMap["Content-Length"][0])}}</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Archive / Compression</td>
                                        <td class="pull-right"><strong>{{getExtention(urlHeaderMap["Compression"])}}</strong></td>
                                    </tr>
                                    <tr>
                                        <td>File was last changed</td>
                                        <td class="pull-right"><strong>{{urlHeaderMap["Last-Modified"][0]}}</strong></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <br/>
                            </div>
                            <label for="dcFormat">Format</label> <span ng-show="dataset['dc:format']['@required']" style="color: red">*</span>
                            <div class="pull-right">
                                <span  popover-placement="bottom" class="help-button"  popover="{{dataset['dc:format']['@label']}}" >?</span>
                            </div>
                            <a style="float: right; margin-right: 0px;" target="_blank" href='http://purl.org/dc/terms/format'> dc:format </a>
                            <br>
                            <div>
                                <select class="btn-success"
                                        style="width: 100%;"
                                        id="dcFormat"
                                        name="dcFormat"
                                        dataid-model
                                        ng-model="dataset['dc:format']"
                                        ng-options="mime.mime.value for mime in mimetypes"
                                        multiselectdropdown="mimetypes"
                                        multiselectidtag="mime"
                                        multiselectplaceholder="select a mime-type format"
                                        multiselectfilter
                                        multiselect-validation>
                                </select>
                            </div>
                            <div style="display: inline-block;"><ng-messages ng-messages-include="messagesTemplate" for="formDist.dcFormat.$error"></ng-messages></div>
                        <br/>
                        <a href="" ng-click="freeFormatShow=true; disableFormats(true);" ng-hide="freeFormatShow">Your mime-type is not in the list above?</a>
                        <a href="" ng-click="freeFormatShow=false; disableFormats(false);" ng-show="freeFormatShow">Hide this input:</a>
                        <br/>
                        <div ng-controller="PopoverCtrl" ng-show="freeFormatShow">
                            <label for="dataidgraphName">Mime Type</label> <span ng-show="dataset['dataid:graphName']['@required']" style="color: red">*</span>
                            <div class="pull-right">
                                <span  popover-placement="bottom" class="help-button"  popover="{{dataset['dataid:graphName']['@label']}}" >?</span>
                            </div>
                            <a style="float: right; margin-right: 0px;" target="_blank" href='http://dataid.dbpedia.org/ns/core#graphName'> dataid:graphName </a>
                            <br>
                            <input  class="input"
                                    type="text"
                                    id="freeFormat"
                                    name="freeFormat"
                                    placeholder="enter your specific mime-type here"
                                    ng-model="dataset['dc:format']"
                                    dataid-model>
                            <div style="display: inline-block;"><ng-messages ng-messages-include="messagesTemplate" for="formDist.dataidgraphName.$error"></ng-messages></div>
                        </div>

                        <a href="" ng-click="isLOD=true" ng-hide="isLOD">This distribution represents a Linked Open Data resource?</a><br/>
                        <div ng-controller="PopoverCtrl" ng-show="isLOD">
                            <label for="dataidgraphName">Graph Name</label> <span ng-show="dataset['dataid:graphName']['@required']" style="color: red">*</span>
                            <div class="pull-right">
                                <span  popover-placement="bottom" class="help-button"  popover="{{dataset['dataid:graphName']['@label']}}" >?</span>
                            </div>
                            <a style="float: right; margin-right: 0px;" target="_blank" href='http://dataid.dbpedia.org/ns/core#graphName'> dataid:graphName </a>
                            <br>
                            <input  class="input"
                                    type="text"
                                    id="dataidgraphName"
                                    name="dataidgraphName"
                                    placeholder="enter the uri of the graph represented in this distribution"
                                    ng-model="dataset['dataid:graphName']"
                                    dataid-model>
                            <div style="display: inline-block;"><ng-messages ng-messages-include="messagesTemplate" for="formDist.dataidgraphName.$error"></ng-messages></div>
                        </div>
                    </div>
                </div>
                <div ng-show="addLicense">
                    <div ng-include="'licenseInclude.html'"  ng-init="formVar='formDist'"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <input type="checkbox" ng-model="addLicense"> show license information (default: same license as dataset)
        </div>
        <button class="popoverButton btn btn-primary" ng-click="formDist.$valid && ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>
<div ng-init="init()"/>