<form style="height: 400px; width: 600px; background-color: #732502 " name="formDist" class="ng-scope ng-pristine ng-valid">
    <div style="height: 400px; width: 550px;  padding: 15px !important; " class="modal-body">
        <div style="height: 100%; width: 100%;">
            <!-- BUTTON BLOCKS -->
            <button style="position: absolute;top: 140px; margin: 10px;" type="button" class="btn btn-warning btn-mini btn-block" ng-click="ok('learn')">Learn About DataID</button>
            <button style="position: absolute;top: 180px; margin: 10px;" type="button" class="btn btn-success btn-large btn-block" ng-click="ok('newId')">Create a new DataID</button>
            <button style="position: absolute;top: 220px; margin: 10px;" type="button" class="btn btn-success btn-large btn-block" ng-click="ok('loadId')">Edit a DataID</button>
        </div>
    </div>
</form>